:root {
    --card-width: 600px;
    --card-height: 400px;
}

#cards-products {
    margin-top: 100px;
}
#cards-products .title-block {
    margin-bottom: 40px;
}
#cards-block .block-hands-img {
    background-color: var(--grey-3040);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 10px white;
}
#cards-block .block-hands-img:hover {
    background-color: var(--grey-50);
    transition: 0.2s linear;
}
#cards-block .card-block {
    max-width: var(--card-width);
    margin: 20px;
}

#cards-block .block-content {
    margin-top: 40px;
}

#cards-block div.custom-card .card-block .block-hands-img {
    width: var(--card-width);
    height: var(--card-height);
}

.block-hands-img {
    cursor: pointer;
    position: relative;
}
.block-hands-img:hover {
    transition: 0.5s;
    box-shadow: 2px 2px 5px #000000;
    -moz-box-shadow: 0px 2px 5px #000000;
    -webkit-box-shadow: 0px 2px 5px #000000;
}

@media (max-width: 1200px) {
    :root {
        --card-width: 350px;
    }
    .block-content {
        margin-top: 10px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 990px) {
    #cards-products {
        margin-top: 20px;
    }
    #cards-block .card-block {
        max-width: 350px;
        margin: 20px;
    }
    #cards-block div.custom-card .card-block .block-hands-img {
        width: 350px;
        height: 350px;
    }
    :root {
        --card-width: 450px;
        --card-height: 500px;
    }
}
