#first-title-info {
    margin-top: 20px;
}
#title-info .secondary-text {
    margin-top: 5rem;
}

#title-info h4 {
    max-width: 760px;
    margin-top: 50px;
    text-align: justify !important;
}
#title-info h4.title {
    max-width: 1400px;
    margin-top: 50px;
    text-align: justify !important;
}
#title-info h5 {
    max-width: 360px;
    padding: 20px;
    text-align: left;
}

div.secondary-text span {
    max-width: 440px;
    margin: 10px;
}

@media (max-width: 992px) {
    #title-info {
        padding-top: 30px;
    }
    #first-title-info p {
        text-align: justify;
        word-spacing: -2px;
    }

    #title-info h4.title {
        margin-top: 20px;
    }
    #title-info p {
        text-align: left !important;
        max-width: 250px;
    }

    #title-info h4 {
        max-width: 700px;
    }
    #title-info h5 {
        text-align: left;
    }
    #title-info .secondary-text {
        justify-content: center !important;
        margin-top: 1rem;
    }
}
@media (max-width: 524px) {
    #title-info h5 {
        max-width: 100%;
        padding: 0 !important;
        text-align: justify;
        word-spacing: -2px;
        margin: 20px 0;
    }
    #title-info p {
        min-width: 100%;
    }
    #title-info h4 {
        margin: 0;
    }
    #title-info .secondary-text {
        margin: 0;
    }
    #title-info {
        margin: 0;
    }
}

#title-info {
    position: relative;
}

#title-info #title-info-bg-img-fir {
    position: absolute;
    width: 40%;
}

#title-info #title-info-bg-img-sec {
    position: absolute;
    width: 25%;
}
#title-info #title-info-bg-img-fir {
    right: 0;
    top: 0;
}
#title-info #title-info-bg-img-sec {
    left: 10%;
    bottom: 5%;
}
@media (max-width: 1400px) {
    #title-info #title-info-bg-img-fir,
    #title-info #title-info-bg-img-sec {
        width: 30%;
    }
}
@media (max-width: 1200px) {
    #title-info #title-info-bg-img-fir {
        display: none;
    }
}
@media (max-width: 992px) {
    #title-info #title-info-bg-img-sec {
        display: none;
    }
}
