/* #pricing {
    min-height: 100vh;
} */
.cards {
    width: 100%;
}
.cards .card {
    max-width: 350px;
    padding: 30px;
}
.cards .card .title {
    font-size: 20px;
}
.cards .card .price span {
    font-weight: bold;
    font-size: 40px;
}
.cards .card .price {
    font-size: 24px;
}
.cards .card .points i {
    font-size: 24px;
    color: var(--grey-30);
    margin-right: 8px;
}

/* .cards .card.primary {
    background-color: var(--blue-30);
} */
/* .cards .card.primary .price span {
    color: var(--primary);
}
.cards .card.primary .points i {
    color: var(--primary);
}
.cards .card.primary .btn {
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.cards .card.primary .btn:hover {
    background-color: var(--white) !important;
    border-color: var(--white) !important;
    color: var(--primary) !important;
} */

@media (max-width: 1200px) {
    .cards .card {
        max-width: 300px;
    }
    #pricing {
        margin-top: 30px !important;
        padding: 0 !important;
    }
}
@media (max-width: 992px) {
    .cards .card {
        max-width: 100%;
        margin-top: 20px;
    }
    .cards.mt-5 {
        margin-top: 0 !important;
    }
}
