#navigate {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    margin-top: -10px;
    height: 60px;
    width: 100vw;
    background: linear-gradient(
        120deg,
        var(--blue-90) 0%,
        var(--blue-70) 17%,
        var(--blue-50) 35%,
        var(--blue-30) 55%,
        var(--blue-10) 77%,
        var(--grey-30) 100%
    );
    animation: gradient 5s infinite linear;
    background-size: 400%;
}
#navigate img {
    width: 50px;
    height: 50px;
    margin-top: -15px;
}

#navigate a {
    color: black;
    text-decoration: none !important;
    margin-right: 30px;
    padding-bottom: 10px;
}
#navigate li a:hover {
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
    transition: 0.1s linear;
}
#navigate div.dropdown-menu.show {
    min-width: 0px !important;
    text-align: center;
    padding: 0 !important;
}
#navigate div.dropdown-menu.show .dropdown-item {
    padding: 10px !important;
}

#navigate .nav-item a:hover {
    border-bottom: 0px !important;
    border-radius: 5px;
}

@media (max-width: 730px) {
    #navigate {
        padding: 20px 10px;
    }
}
#nav-dropdown-dark-example {
    padding: 0 !important;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

@media (max-width: 798px) {
    #navigate li a {
        margin-right: 9.5px !important;
        font-size: 12px !important;
    }
}
@media (max-width: 500px) {
    #navigate li a {
        margin-right: 7px !important;
        font-size: 12px !important;
    }
    #navigate ul {
        padding: 0 !important;
    }
}
