#footer {
    margin-top: 20px;
    padding: 10px 0;
    width: 100%;
    color: white;
    background: linear-gradient(
        120deg,
        var(--blue-90) 0%,
        var(--blue-70) 17%,
        var(--blue-50) 35%,
        var(--blue-30) 55%,
        var(--blue-10) 77%,
        var(--grey-30) 100%
    );
    animation: gradient 5s infinite linear;
    background-size: 400%;
}

@keyframes gradient {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}
#footer a {
    color: white;
    margin-right: 15px;
}
#footer ul {
    margin: 0 !important;
}

#footer span b {
    font-weight: bold;
}
#footer span b:first-child {
    color: #0057b8;
}
#footer span b:last-child {
    color: #ffd700;
}
